{% load static %}
{% load tz %}  {# if you want to handle timezone display #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Texto en la pestaña -->
    <title>Eventos</title>
    <!-- Vinculacion con el archivo css -->
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/mycss.css' %}">
    <!-- Vinculacion con el archivo js -->
    <script src="{% static 'core/js/bootstrap.js' %}"></script>
    <script src="{% static 'core/js/myjs.js' %}"></script>
    
</head>

<!--  -->

<body>
    <!-- Barra de navegacion -->
    {% include 'core/nav_bar.html' %}

    <!-- Listado de eventos -->
   <div class="row row-cols-1 row-cols-md-1 g-1">
        <div class="col">
            <!-- Tarjetas sacadas de bootstrap.com -->
            <!-- Tarjetas para los eventos -->-
            {% for evento in eventos %}
            <div class="card">
                <!-- Imagen del elemento -->
                <img class="card-img-top" src="{% static 'core/img/{{evento.imagen}}'%}" alt="Imagen del evento">
                <!-- Cuerpo de la tarjeta -->
                <div class="card-body">
                    <!-- Titulo de la tarjeta -->
                    <h5 class="card-title">{{evento.titulo}}</h5>
                    <!-- Temporizador -->
                    <!-- Formato: año-mes-dia-Thora:minuto:segundo -->
                    <script>
                        timer(new Date({{evento.fecha}}))
                    </script>
                    <!-- Descripcion del evento -->
                    <p>{{evento.fecha_palabra}}</p>
                    <p class="card-text">{{evento.descripcion}}</p>
                    <p>Lugar: {{evento.lugar}}</p>
                    <!-- Precio -->
                    <p>{{evento.precio}} Pesos la entrada</p>
                </div>
            </div>
            {% endfor %}
            <!-- ---------------------------------------- -->
        </div>
    </div>
</body>
</html>